# fly.toml app configuration file generated for deepgram-starter-ecosystem on 2025-08-04T10:05:20-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deepgram-starter-ecosystem'
primary_region = 'sea'

[env]
PORT = "8080"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
max_machines_running = 2
processes = ['app']

[[http_service.checks]]
grace_period = "10s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/api/health"

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
